/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
    font-family: Inter, Exo, system-ui, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;

    }
    body{
       overflow-x: hidden;
    }
}


/*html{*/
/*    font-family: Inter, Exo, system-ui, sans-serif;*/
/*    overflow-y: scroll;*/
/*    overflow-x: hidden;*/
/*}*/

/*.parent {*/
/*    width: 400vw;*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*}*/

/*.child {*/
/*    width: 100vw;*/
/*    height: 100%;*/

/*}*/
